<p id="notice"><%= notice %></p>

<p>
  <b>bluetooth:</b>
  <%= @mapping.bluetooth %>
</p>

<p>
  <b>Linkedinprofile:</b>
  <%= @mapping.linkedinprofile %>
</p>


<%= link_to 'Edit', edit_mapping_path(@mapping) %> |
<%= link_to 'Back', mappings_path %>
