<%= form_for(@changetype) do |f| %>
  <% if @changetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@changetype.errors.count, "error") %> prohibited this changetype from being saved:</h2>

      <ul>
      <% @changetype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :random %><br />
    <%= f.text_field :random %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
