<p id="notice"><%= notice %></p>

<p>
  <b>Bluetooth:</b>
  <%= @maptolinkedin.bluetooth %>
</p>

<p>
  <b>Linkedinprofile:</b>
  <%= @maptolinkedin.linkedinprofile %>
</p>

<p>
  <b>Name:</b>
  <%= @maptolinkedin.name %>
</p>

<p>
  <b>Profiletitle:</b>
  <%= @maptolinkedin.profiletitle %>
</p>

<p>
  <b>Picurl:</b>
  <%= @maptolinkedin.picurl %>
</p>

<p>
  <b>Skills:</b>
  <%= @maptolinkedin.skills %>
</p>

<p>
  <b>Comment:</b>
  <%= @maptolinkedin.comment %>
</p>


<%= link_to 'Edit', edit_maptolinkedin_path(@maptolinkedin) %> |
<%= link_to 'Back', maptolinkedins_path %>
